body {
    background: linear-gradient(45deg, #f00, #fffb00, #5eff00, #ff5100, #00f7ff, #f700e2);
    background-size: 900% 200%;
    height: 90vh;
    animation: animate 20s linear infinite;
}   

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} 

    